<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="{% url 'current' %}">home</a></li>
      <li><a href="{% url 'history' %}">history</a></li>
      <li><a href="{% url 'rip' %}">graveyard</a></li>
      <li><a href="{% url 'catfood' %}">feed</a></li>
      <li><a href="https://github.com/alycejenni/isthecatin/issues" target="_blank">issues</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://github.com/alycejenni/isthecatin" target="_blank">created with <i class="fa fa-heart"></i> by alycejenni</a></li>
    </ul>
  </div>
</nav>