<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="{% url 'current' %}">Home</a></li>
      <li><a href="{% url 'history' %}">History</a></li>
      <li><a href="{% url 'rip' %}">Gifts from the cat</a></li>
      <li><a href="{% url 'catfood' %}">Feed</a></li>
      <li><a href="https://github.com/alycejenni/isthecatin/issues" target="_blank">Issues</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://github.com/alycejenni/isthecatin" target="_blank">Created with <i class="fa fa-heart"></i> by alycejenni</a></li>
    </ul>
  </div>
</nav>