appdirs==1.4.3
boto3
certifi==2017.4.17
chardet==3.0.4
click==6.7
cycler==0.10.0
dj-database-url==0.4.2
Django==1.11.28
django-controlcenter==0.2.3
django-pkgconf==0.2.1
docutils==0.13.1
gunicorn==19.7.1
idna==2.5
instapush==0.1.2
jmespath==0.9.3
libsass==0.13.2
matplotlib==2.0.2
numpy==1.13.1
olefile==0.44
opencv-python==3.4.5.20
packaging==16.8
pandas==0.20.3
psycopg2==2.7.3.2
pyparsing==2.2.0
python-dateutil==2.6.1
python-dotenv==0.6.4
pytz==2017.2
requests==2.18.1
six==1.10.0