<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" style="border: hidden;" aria-expanded="false">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">Is the cat in?</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_superuser %}
              <li><a class="icon-admin" href="{% url 'admin' %}">Admin</a></li>
          {% endif %}
        <li><a class="icon-home" href="{% url 'current' %}">Home</a></li>
        <li><a class="icon-history" href="{% url 'history' '1' %}">History</a></li>
        <li><a class="icon-highlights" href="{% url 'highlights' '1' %}">Highlights</a></li>
        <li><a class="icon-rip" href="{% url 'rip' %}">R.I.P.</a></li>
        <li><a class="icon-feed" href="{% url 'catfood' %}" target="_blank">Feed</a></li>
        <li><a class="icon-github" href="https://github.com/alycejenni/isthecatin" target="_blank">Github</a></li>
      </ul>
    </div>
  </div>
</nav>