/*h1, .h1 {*/
    /*font-family: 'Pangolin';*/
    /*font-size: 60px;*/
/*}*/

/*@media all and (max-width: 400px) {*/
    /*h1, .h1 {*/
        /*font-size: 40px;*/
    /*}*/
/*}*/

a.activepage {
    color: black;
}

a.inactivepage {
    color: gainsboro;
}

body {
    font-family: 'Lato', sans-serif;
}

#id_creature_type, #id_url, #id_creature_name, #id_additional_image, #id_guilty_cat, #id_time_taken {
    width: 60%;
}

#id_caughtintheact, #id_additional, #id_guilty {
    font-style: italic;
    color: #bbb;
}

.padded-row {
    margin-bottom: 10px;
}

.question {
    text-align: right;
    margin-left: auto;
}

.answer {
    text-align: left;
    margin-right: auto;
}

.toggle-cat {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.toggle-cat + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.toggle-cat + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #8ce196;
    border-radius: 30px;
    transition: background 0.4s;
}

/*the switch outline when checked*/
input.toggle-cat:checked + label {
    background-color: #A23E48;
}

input.toggle-cat + label:before,
input.toggle-cat + label:after {
    display: block;
    position: absolute;
}

/* background always */
input.toggle-cat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #eeeeee;
    border-radius: 30px;
    font-family: 'Lato', sans-serif;
    padding: 4px;
    font-size: 11px;
    font-weight: normal;
    font-variant: small-caps;
    text-align: right;
    content: "alive";
    transition: background 0.4s;
}

input.toggle-cat:checked + label:before {
    content: "dead";
    text-align: left;
}

input.toggle-cat + #lblKD:before {
    content: "idk";
}

input.toggle-cat:checked + #lblKD:before {
    content: "yup";
    text-align: left;
}

/* the circle when unchecked */
input.toggle-cat + label:after {
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    width: 22px;
    background-color: #8ce196;
    border-radius: 26px;
    transition: margin 0.4s, background 0.4s;
    content: "";
}

/* the circle when checked */
input.toggle-cat:checked + label:after {
    margin-left: 30px;
    background-color: #A23E48;
}

.ded {
    color: #A23E48;
}

img.ded {
    border-color: #A23E48;
    background-color: #A23E48;
    cursor: pointer;
}

.notded {
    color: #8ce196;
}

img.notded {
    border-color: #8ce196;
    background-color: #8ce196;
    cursor: pointer;
}

.img-blur {
    filter: blur(10px);
    display: inline;
    margin: 20px 0px;
    transition: 200ms filter linear;
}

.img-blur:hover {
    filter: blur(0px);
}

/* Sam's CSS */

/*

Colours:

Light: #0896B2
Medium: #078199
Dark: #066B7F

*/

/* Base Styling */

body {
    padding-top: 70px;
    background: #078199;
}

/* Cat Image */

.cat-img {
    margin-top: 30px;
    border: 5px dashed #066B7F;
}

/* In/Out Message */

.in-out-msg {
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

h1.in-out-msg {
    margin-top: 30px;
    font-size: 48px;
}

h2.in-out-msg {
    margin-top: 15px;
    font-size: 24px;
}

/* Navbar Styling */

.navbar-default {
    border: 0;
    background-color: #0896B2 !important;
}

.navbar-toggle {
    color: #fff;
    border-color: #078199 !important;
    background-color: #078199;
    border-radius: 999px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar-toggle:hover,
.navbar-toggle:active {
    border-color: #066B7F !important;
    background-color: #066B7F;
}

.navbar-nav li a,
.navbar-brand {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    color: #fff !important;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav li a:hover,
.navbar-brand:hover {
    height: 50px;
    border-bottom: 5px solid #066B7F;
}

.navbar-nav li a:hover:before {
    color: #066B7F !important;
    font-family: 'fontawesome', sans-serif;
    position: absolute;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    left: -10px;
}

.navbar-nav li a.icon-home:hover:before {
    content: '\f1b0';
}

.navbar-nav li a.icon-history:hover:before {
    content: '\f1da';
}

.navbar-nav li a.icon-rip:hover:before {
    content: '\f119';
}

.navbar-nav li a.icon-feed:hover:before {
    content: '\f022';
}

.navbar-nav li a.icon-github:hover:before {
    content: '\f113';
}