@import 'colours';
/* BASE */
body {
  padding-top: 100px;
  background-color: $colour-light-red;
}

/* JQUERY OVERRIDES */
.ui-dialog {
  background-color: $colour-light-yellow !important;
}

.ui-dialog-titlebar {
  background-color: $colour-dark-yellow !important;
  border: none;
  margin-bottom: 20px;
}

/* DIV POSITIONING */
.padded-row {
  margin-bottom: 10px;
}

.question {
  text-align: right;
  margin-left: auto;
}

.answer {
  text-align: left;
  margin-right: auto;
}

/* TYPOGRAPHY */
@import 'typography';

/* NAVBAR */
@import 'navbar';

/* INPUTS */
@import "inputs";

/* MEDIA */
@import "media";