$colour-light-red: #ED5565;
$colour-dark-red: #DA4453;
$colour-rlydark-red: #B5192D;
$colour-light-yellow: #FFCE54;
$colour-dark-yellow: #FCBB42;
$colour-light-green: #8CE196;
$colour-light-grey: #EEEEEE;