{% load cattags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'fragments/scripts.html' %}
    {% include 'fragments/styles.html' %}
    {% block scripts %}{% endblock %}
</head>
<body>
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRZFQ6B"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'current' %}" class="{% isactive 'current' %} h1">is the cat in?</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'history' %}" class="{% isactive 'history' %} h1">was the cat in?</a>
        </div>
    </div>
</div>
<br>
{% block content %}
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="font-size: small;">
            <a href="https://github.com/alycejenni/isthecatin" target="_blank">created by alycejenni</a> || <a
                href="https://github.com/alycejenni/isthecatin/issues" target="_blank">problems?</a> || <a
                href="{% url 'catfood' %}">feed</a>
        </div>
    </div>
</div>
</body>
</html>