{% extends "basepage.html" %}
{% load static %}
{% block title %}
    what has the cat dragged in now?
{% endblock %}
{% block scripts %}
    <script src="{% static "javascript/createcasualty.js" %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row padded-row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    {{ form.url }}
                </div>
            </div>
            <div class="row padded-row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="{{ img.url }}" id="id_caughtintheact" class="img-rounded img-responsive center-block"
                         alt="a picture of the cat emerging from the catflap with something in his mouth"
                         title="caught in the act" style="max-width: 300px;">
                </div>
            </div>
            <div class="row padded-row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 question">
                    What is it?
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 answer">
                    {{ form.creature_type }}
                </div>
            </div>
            <div class="row padded-row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 question">
                    What did we call it?
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 answer">
                    {{ form.creature_name }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 question">
                    <table class="question">
                        <tr>
                            <td style="padding-right: 10px;">Was it dead on arrival?</td>
                            <td>{{ form.doa }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 answer">
                    <table class="answer">
                        <tr>
                            <td style="padding-right: 10px;">Is it dead now?</td>
                            <td>{{ form.known_deceased }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <hr>
                <input align="center" class="grey-btn" type="submit" value="submit"/>
                <hr>
            </div>
        </div>
    </form>
{% endblock %}