{% extends "basepage.html" %}
{% load static %}
{% block title %}
    was the cat in?
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row padded-row">
            {% for img in imgs %}
                <div class="col-md-4 col-xs-6">
                    <div style="text-align: right;">
                        {% if request.user.is_superuser %}
                            <table>
                                <tr>
                                    <td>
                                        <form method="post" action="{% url 'notcat' img.id %}">{% csrf_token %}
                                            <input type="image" src="{% static 'images/notcat.png' %}" width="20px"
                                                   alt="button to mark as not a cat"
                                                   title="this isn't a cat!"/></form>
                                    </td>
                                    <td>
                                        <form method="post" action="{% url 'ffsganja' img.id %}">{% csrf_token %}
                                            <input type="image" src="{% static 'images/skull-icon.png' %}" width="20px"
                                                   alt="button to mark image as containing possible casualty"
                                                   title="he's got something!"/></form>
                                    </td>
                                </tr>
                            </table>
                        {% else %}
                            <div style="margin:10px;"></div>
                        {% endif %}
                    </div>
                    <a href="#" class="zoomthumb">
                        <div style="position: relative; top: -20px; z-index: -100;">
                            {% include "fragments/media.html" with src=img classes="img-thumbnail" %}</div>
                    </a>
                    <p style="position: relative; top: -20px; text-align: center;">{{ img.time_taken }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="zoomcat" style="width: 100%; margin: 0 0 0 0;">
        <div id="zoomcat-body" style="width: 100%" align="center">
        </div>
    </div>
{% endblock %}