{% extends "basepage.html" %}
{% block title %}
    is the cat in?
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img alt="this is probably a picture of the cat's bum" src="{{ img.url }}" class="img-responsive center-block"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>this was taken {{ img.time_ago }} ago</p>
            </div>
        </div>
    </div>
{% endblock %}