{% extends "basepage.html" %}
{% block title %}
    is the cat in?
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img alt="this is probably a picture of the cat's bum" src="{{ img.url }}" class="img-responsive center-block cat-img"/>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<p>this was taken {{ img.time_ago }} ago</p>-->
            <!--</div>-->
        <!--</div>-->
        <h1 class="in-out-msg">Looks like he's in <i class="fa fa-check"></i></h1>
        <!--<h1 class="in-out-message">Looks like he's out <i class="fa fa-times"></i></h1>-->
    </div>
{% endblock %}