{% extends "basepage.html" %}
{% block title %}
    is the cat in?
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <img alt="this is probably a picture of the cat's bum" src="{{ img.url }}" class="img-responsive cat-img"/>
            </div>
            <div class="col-md-3" style="color: #fff;">
                <!--<h3>Foto facts</h3>-->
                <!--<p>This photo was taken {{ img.time_ago_str }} ago</p>-->
            </div>
        </div>
        {% if img.direction == 0 %}
            {#if the cat is out#}
            <h1 class="in-out-msg">Looks like he's out <i class="fa fa-ambulance"></i></h1>
            <h2 class="in-out-msg">Hunting for mice</h2>
        {% elif img.direction == 1 %}
            <h1 class="in-out-msg">Looks like he's in <i class="fa fa-check"></i></h1>
            <h2 class="in-out-msg">Grabbing some Zs</h2>
        {% else %}
            {#if he's being a quantum boy#}
            <h1 class="in-out-msg">We're not sure where he is <i class="fa fa-bathtub"></i></h1>
            <h2 class="in-out-msg">Aw, darn</h2>
        {% endif %}
    </div>
{% endblock %}