.h1 {
        font-family: 'Pangolin';
        font-size: 60px;
    }

@media all and (max-width: 400px) {
    .h1 {
        font-size: 40px;
    }
}

a.activepage {
    color: black;
}

a.inactivepage {
    color: gainsboro;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#id_creature_type, #id_url, #id_creature_name {
    width: 50%;
}

.padded-row {
    margin-bottom: 10px;
}

.question {
    text-align: right;
    margin-left: auto;
}

.answer {
    text-align: left;
    margin-right: auto;
}