.h1 {
    font-family: 'Pangolin';
    font-size: 60px;
}

a.activepage {
    color: black;
}

a.inactivepage {
    color: gainsboro;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}