{% extends "basepage.html" %}
{% load static %}
{% load l10n %}
{% block title %}
    was the cat in?
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row padded-row">
            {% for img in imgs %}
                <div class="col-md-4 col-xs-6 img-box">
                    <div style="text-align: right;">
                        {% if is_mod %}
                            <table>
                                <tr>
                                    <td>
                                        <form method="post" action="{% url 'set.notcat' img.id %}">{% csrf_token %}
                                            <input type="image" src="{% static 'images/notcat.png' %}" width="20px"
                                                   alt="button to mark as not a cat"
                                                   title="this isn't a cat!"/></form>
                                    </td>
                                    <td>
                                        <form method="post" action="{% url 'casualties.create' img.id %}">{% csrf_token %}
                                            <input type="image" src="{% static 'images/skull-icon.png' %}" width="20px"
                                                   alt="button to mark image as containing possible casualty"
                                                   title="he's got something!"/></form>
                                    </td>
                                    <td>
                                        <img href="#" class="addhighlight" src="{% static 'images/star.png' %}"
                                             width="20px" style="padding:0; margin:0; top:-3px; position: relative;"
                                             alt="button to mark image as a really good one"
                                             title="nominate for the hall of infamy!"/>
                                    </td>
                                </tr>
                            </table>
                        {% else %}
                            <div><img href="#" class="addhighlight" src="{% static 'images/star.png' %}"
                                      width="20px" style="padding:0; margin:0; top:-3px; position: relative;"
                                      alt="button to mark image as a really good one"
                                      title="nominate for the hall of infamy!"/></div>
                        {% endif %}
                    </div>
                    <a href="#" class="zoomthumb">
                        <div style="position: relative; top: -20px; z-index: -100;">
                            {% include "fragments/media.html" with src=img classes="img-thumbnail" %}</div>
                    </a>
                    <p style="position: relative; top: -20px; text-align: center;">{{ img.time_taken|localize }}</p>
                </div>
            {% endfor %}
        </div>
        <form method="post" action="{% url 'history.index' page %}"> {% csrf_token %}
            <div class="row padded-row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    {% if page > 1 %}
                        <input type="submit" name="btn_submit" value="Previous page" class="btn btn-primary">
                    {% endif %}
                    {% if more_pages %}
                        <input type="submit" name="btn_submit" value="Next page" class="btn btn-primary">
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
    <div id="zoomcat" style="width: 100%; margin: 0;" class="popup">
        <div id="zoomcat-body" style="width: 100%" align="center">
        </div>
    </div>
    <div id="popupHighlight" style="width: 100%; margin: 0;" class="popup">
        <form method="post" action="{% url 'highlights.create' %}">
            {% csrf_token %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" id="popupHighlight-media">
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div class="row">
                            <label for="popupHighlight-comment">Tell me why this is so good:</label>
                        </div>
                        <div class="row padded-row">
                            {{ nomination_form.comment }}
                            {{ nomination_form.url }}
                        </div>
                        <div class="row">
                            (you can nominate something for the hall of infamy more than once if you've got a lot to
                            say!)
                        </div>
                        <input align="center" class="btn btn-primary center-block" type="submit" value="submit"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        loadZoom();
        loadNominate();
    </script>
{% endblock %}